<head>
	 <meta charset="UTF-8">
	 <title>Mon Application</title>
	
	<link href="css/normalize.css"  type="text/css" rel="stylesheet">
	<link href="css/style.css"  type="text/css" rel="stylesheet">

	 
</head>